@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-weight: 600;" class="display-4">Hector Rivera</h1>
    <h3 style="font-weight: 200;">Desarrollador Full Stack.</h3>
</div>
